:root {
  /* Colors */
  --primary: #4a72ff;
  --primary-light: rgba(74, 114, 255, 0.05);
  --dark: #0c1b4d;
  --dark-light: rgba(12, 27, 77, 0.6);
  --dark-extra-light: rgba(12, 27, 77, 0.1);
  --spacing: #ffd39f;
  --white: #f4f7ff;

  /* Shadow */
  --primary-shadow: 0 5px 15px 15px rgba(74, 114, 255, 0.1);

  /* Font Sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 34px;
}
body {
  font-size: var(--font-size-s);
  color: var(--dark-light);
  background: linear-gradient(180deg, #eef2ff, rgba(238, 242, 255, 0));
  min-height: 100vh;
}
.button {
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
}
.primary-button {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--primary-shadow);
}
.secondary-button {
  background: var(--primary-light);
  color: var(--primary);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
  height: 48px;
}
header .primary-button {
  padding: 12px 24px;
}
nav {
  color: var(--dark);
  gap: 62px;
  display: flex;
}
nav a:hover,
nav a.active {
  font-weight: 600;
}
