:root {
  /* Colors */
  --primary: #4a72ff;
  --primary-light: rgba(74, 114, 255, 0.05);
  --dark: #0c1b4d;
  --dark-light: rgba(12, 27, 77, 0.6);
  --dark-extra-light: rgba(12, 27, 77, 0.1);
  --spacing: #ffd39f;
  --white: #f4f7ff;

  /* Shadow */
  --primary-shadow: 0 5px 15px 15px rgba(74, 114, 255, 0.1);

  /* Font Sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 34px;
}
body {
  font-size: var(--font-size-s);
  color: var(--dark-light);
  background: linear-gradient(180deg, #eef2ff, rgba(238, 242, 255, 0));
  min-height: 100vh;
  line-height: 1.5;
}
.button {
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
}
.primary-button {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--primary-shadow);
}
.secondary-button {
  background: var(--primary-light);
  color: var(--primary);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
  height: 48px;
}
header .primary-button {
  padding: 12px 24px;
}
nav {
  color: var(--dark);
  gap: 62px;
  display: flex;
}
nav a:hover,
nav a.active {
  font-weight: 600;
}
section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-intro {
  max-width: 50ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
}
.section-subtitle {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.section-title {
  font-size: var(--font-size-xxl);
  color: var(--dark);
  font-weight: 700;
}
#hero {
  display: flex;
  align-items: center;
  gap: 24px;
}
#hero > * {
  flex: 1;
}
.hero-body-wrapper .hero-sub-title {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.hero-title {
  font-size: var(--font-size-xxl);
  color: var(--dark);
  margin-bottom: 16px;
}

.hero-actions {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.hero-analytics {
  display: flex;
  margin-top: 72px;
  gap: 48px;
}
.hero-analytics > * {
  display: flex;
  gap: 16px;
}
.hero-analytics-item-body h5 {
  font-size: var(--font-size-xs);
  color: var(--dark);
  margin-bottom: 8px;
  text-transform: uppercase;
}
.hero-analytics-item-body h3 {
  font-size: var(--font-size-m);
  color: var(--dark);
  margin-bottom: 0;
  font-weight: 700;
}

#companies {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-extra-light);
  padding: 48px 32px;
  border-radius: 8px;
}
.company-item {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.company-item:hover {
  filter: grayscale(0);
  opacity: 1;
}

#features-horizontal .section-body {
  display: flex;
  align-items: center;
  gap: 56px;
  margin-top: 48px;
  text-align: center;
}
.section-body .feature-item img {
  margin-left: auto;
  margin-right: auto;
}
.section-body .feature-item {
  flex: 1;
}
.feature-item-img {
  max-height: 200px;
  margin-bottom: 24px;
}
.feature-item-title {
  font-size: var(--font-size-m);
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 16px;
}

#features-vertical {
  display: flex;
  align-items: center;
}
#features-vertical > * {
  flex: 1;
}
#features-vertical .section-intro {
  text-align: left;
  margin-left: unset;
  margin-right: unset;
  margin-bottom: 48px;
}
#features-vertical .section-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#features-vertical .section-body-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
#features-vertical .feature-body-img {
  padding: 16px;
  background-color: var(--primary-light);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#features-vertical .feature-body-title {
  font-size: var(--font-size-m);
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 16px;
}
#stores {
  background-color: var(--primary);
  padding: 100px 80px;
  border-radius: 16px;
  box-shadow: var(--primary-shadow);
  position: relative;
}
#stores .section-intro {
  text-align: left;
  margin-left: unset;
  margin-right: unset;
}

#stores .section-intro h3,
#stores .section-intro h2,
#stores .section-intro li {
  color: var(--white);
  opacity: 0.8;
}
#stores .section-body {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
}

.download-store-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 88px;
  max-height: 100%;
}
#faq {
}
#faq .section-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 75ch;
  margin: 0 auto;
  margin-top: 48px;
}
.faq-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
}
.faq-header {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
  color: var(--dark);
  border-bottom: 1px solid var(--dark-extra-light);
  padding: 24px;
}
.faq-body {
  font-size: 0;
  opacity: 0;
  padding: 0;
  transition: opacity 250ms, font-size 500ms 250ms, padding 500ms 250ms;
}
.faq-item.active {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: var(--primary-shadow);
}
.faq-item.active .faq-header {
  color: var(--white);
  border-color: rgba(255, 255, 255, 0.2);
}

.faq-item.active .faq-body {
  color: var(--white);
  padding: 24px;
  font-size: inherit;
  opacity: 1;
  transition: opacity 500ms 250ms, font-size 250ms, padding 250ms;
}

.faq-item.active svg {
  transform: rotate(180deg);
}
.faq-item.active svg path {
  stroke: var(--white);
}
footer {
  background-color: var(--dark-extra-light);
  padding: 48px 32px;
  border-radius: 8px;
}
footer .title {
  color: var(--dark);
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-bottom: 16px;
}

footer .container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.footer-item-company {
  flex: 3;
}
.footer-item-company .title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-item-company .desc {
  color: var(--dark);
  opacity: 0.5;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 70ch;
  line-height: 1.5;
}
.sitemap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sitemap ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-media-icon {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--dark);
}
.social-media-icon a {
  background-color: var(--dark-extra-light);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #hero {
    flex-direction: column-reverse;
  }
  #features-horizontal .section-body {
    flex-direction: column;
  }
  #features-vertical {
    flex-direction: column;
  }
  .download-store-img {
    display: none;
  }
  .section-intro,
  #faq .section-body {
    max-width: 100%;
  }
  footer .container {
    flex-direction: column;
  }
}
